@import "materialize/materialize.scss";
 
// <----------------------------------------------------------------------------------------variables------------------------------------------------------------------------------------------>
$bleu: #4DB6AC;
$orange:#ffa500;
$vert:#1eff00;
$rouge: #ff2600;
$left: 35em;
$emL: 10em;
$eml: 20em;


// <----------------------------------------------------------------------------------------imbrication------------------------------------------------------------------------------------------>





// <----------------------------------------------------------------------------------------conditions------------------------------------------------------------------------------------------>



@if ( $bleu==#4DB6AC) {
    
    #container1{ 
    background: #4DB6AC;
    }
    @if( $orange==#ffa500) {
    
        #container2{ 
        background: #ffa500;
        }
    
    }
    
    @if( $vert==#1eff00) {
        
        #container3{ 
        background: #1eff00;
        }
    
    }
    
    @if( $rouge==#ff2600) {
        
        #container4{ 
        background: #ff2600;
        }
    
    }

}

@else {
    .card-panel{
        background: black;
    }  
}



@for $i from 1 through 4 {
    #container#{$i} {
        width: $emL*$i;
        height: $eml;
    }
}

// $i: 4;

// @while $i > 0  {

//     #container#{$i} { width: 2em * $i; }
//     $i: $i - 2;
// }